<!-- your html code here -->
<div style="padding: 20px; align-items: center; justify-content: center; text-align: center;">
    <form class="bg-white" style="border-radius: 5px;">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Contact us</label>
          <input type="email" placeholder="example@example.com" style="width: 50%; margin-left: auto; margin-right: auto;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <textarea name="" id="" style="width: 50%; margin-left: auto; margin-right: auto;" placeholder="Subject:"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>










</div>