<div class="container d-flex w-75">
    <div>
        <h2><strong>This First Heading</strong> Will Catch Your Eye</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis sunt molestiae recusandae itaque quo quidem magnam voluptatem doloremque sint a laborum suscipit, officiis officia culpa aliquam delectus nostrum minima tenetur!</p>
    </div>
    <div>
        <img class="rounded-circle" src="https://images.all-free-download.com/images/graphiclarge/beauty_of_nature_17_211513.jpg"/>
    </div>
</div>