<!-- your html code here -->
<!--npx http-server --yes -c-1-->
<!--padding 20px-->

<div style="padding: 20px; align-items: center; justify-content: center; text-align: center;">
    <div>
<h2>Portfolio</h2>
<p>Aenean facilisis nunc at finibus interdum. In nisi elit, porttitor posuere orci a, rutrum auctor enim. Vivamus hendrerit lacinia risus eget gravida. Maecenas volutpat elit ac scelerisque tempor. Praesent quis fringilla orci. Donec in faucibus lectus. Pellentesque</p>
</div>    
<!-- <div class="row">
        <div class="col"><img src="https://placehold.co/700x400" alt="" style="width: 700px; height: 400px; object-fit: cover; margin-right: 10px;"></div>
        <div class="col"><img src="https://placehold.co/700x400" alt="" style="width: 700px; height: 400px; object-fit: cover; margin-right: 10px;"></div>
        <div class="col"><img src="https://placehold.co/700x400" alt="" style="width: 700px; height: 400px; object-fit: cover; margin-right: 10px;"></div>
    </div>
<div class="row">
    <div class="col">
        <h1 class="text-primary">Project Name</h1>
            <p>Aliquam varius pellentesque bibendum. In eu erat vel est accumsan interdum. Sed finibus, velit sit amet tristique pulvinar, mauris purus gravida tortor, ut feugiat odio elit in metus. Morbi sagittis varius</p>
    </div>
    <div class="col">
        <h1 class="text-primary">Project Name</h1>
            <p>Proin egestas eget libero eget semper. Aliquam erat volutpat. Suspendisse at urna mauris. Praesent at dapibus ipsum. Mauris mattis ipsum massa, sollicitudin aliquet mi condimentum</p>
    </div>
    <div class="col">
        <h1 class="text-primary">Project Name</h1>
            <p>Aenean facilisis nunc at finibus interdum. In nisi elit, porttitor posuere orci a, rutrum auctor enim. Vivamus hendrerit lacinia risus eget gravida. Maecenas</p>
    </div>
</div> -->
<div style="display: flex; justify-content: space-evenly;">
<div class="card" style="width: 30%;">
    <img src="https://placehold.co/700x400" class="card-img-top" alt="...">
    
    <div class="card-body">
        <h4 class="text-primary text-start">Project Name</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 30%;">
    <img src="https://placehold.co/700x400" class="card-img-top" alt="...">
    
    <div class="card-body">
        <h4 class="text-primary text-start">Project Name</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 30%; height: 100%;">
    <img src="https://placehold.co/700x400" class="card-img-top" alt="...">
    
    <div class="card-body">
        <h4 class="text-primary text-start">Project Name</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
</div>

</div>

</div>
</div>





